.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;
}

.gallery-item {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.media {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

video.media {
  height: 250px;
  object-fit: cover;
}
